--
-- PostgreSQL database dump
--

\restrict 0edelvmPEYqDZnMmf4k3IMOyL97jsjFBQcEWvu1PV8eYBGA5Vkw3AFt1ZnNwbox

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_users; Type: TABLE; Schema: public; Owner: tfg_user
--

CREATE TABLE public.app_users (
    id bigint NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    CONSTRAINT app_users_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'USER'::character varying, 'GUEST'::character varying])::text[])))
);


ALTER TABLE public.app_users OWNER TO tfg_user;

--
-- Name: app_users_id_seq; Type: SEQUENCE; Schema: public; Owner: tfg_user
--

ALTER TABLE public.app_users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: app_users; Type: TABLE DATA; Schema: public; Owner: tfg_user
--



--
-- Name: app_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tfg_user
--

SELECT pg_catalog.setval('public.app_users_id_seq', 12, true);


--
-- Name: app_users app_users_pkey; Type: CONSTRAINT; Schema: public; Owner: tfg_user
--

ALTER TABLE ONLY public.app_users
    ADD CONSTRAINT app_users_pkey PRIMARY KEY (id);


--
-- Name: app_users uk4vj92ux8a2eehds1mdvmks473; Type: CONSTRAINT; Schema: public; Owner: tfg_user
--

ALTER TABLE ONLY public.app_users
    ADD CONSTRAINT uk4vj92ux8a2eehds1mdvmks473 UNIQUE (email);


--
-- Name: app_users ukspsnwr241e9k9c8p5xl4k45ih; Type: CONSTRAINT; Schema: public; Owner: tfg_user
--

ALTER TABLE ONLY public.app_users
    ADD CONSTRAINT ukspsnwr241e9k9c8p5xl4k45ih UNIQUE (username);


--
-- PostgreSQL database dump complete
--

\unrestrict 0edelvmPEYqDZnMmf4k3IMOyL97jsjFBQcEWvu1PV8eYBGA5Vkw3AFt1ZnNwbox

